<section class="container my-8 md:my-16">
  {% assign heading = 'customer.account.title' | t %}
  {%
    render 'account-header'
    heading: heading,
  %}

  <div class="xl:grid xl:grid-cols-3">
    <div class="xl:col-span-2 xl:border-r xl:border-gray-200 xl:pr-8">
      <div class="md:flex md:items-center md:justify-between md:space-x-4">
        <h2>{{ 'customer.orders.title' | t }}</h2>
      </div>

      <div class="mb-8">
        {% paginate customer.orders by 20 %}
          {%- if customer.orders.size > 0 -%}

            <div class="px-4 mt-4 sm:px-6 lg:px-8">
              <div class="flex flex-col">
                <div class="-mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                  <div class="inline-block min-w-full py-px align-middle">
                    <div class="overflow-hidden ring-1 ring-black ring-opacity-5">
                      <table class="min-w-full divide-y">
                        <thead>
                          <tr>
                            <th scope="col" class="py-3.5 pl-4 pr-3 text-left sm:pl-6 lg:pl-8">
                              {{- 'customer.orders.order_number' | t -}}
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left">
                              {{- 'customer.orders.date' | t -}}
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left">
                              {{- 'customer.orders.payment_status' | t -}}
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left">
                              {{- 'customer.orders.fulfillment_status' | t -}}
                            </th>
                            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6 lg:pr-8 text-right">
                              {{- 'customer.orders.total' | t -}}
                            </th>
                          </tr>
                        </thead>
                        <tbody class="bg-white divide-y">
                          {%- for order in customer.orders -%}
                            <tr>
                              <td class="py-4 pl-4 pr-3 whitespace-nowrap sm:pl-6 lg:pl-8">
                                <a
                                  class="underline"
                                  href="{{ order.customer_url }}"
                                  aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                                >
                                  {{- order.name -}}
                                </a>
                              </td>
                              <td class="px-3 py-4 whitespace-nowrap">
                                {{- order.created_at | time_tag: format: 'date' -}}
                              </td>
                              <td class="px-3 py-4 whitespace-nowrap">
                                {{- order.financial_status_label -}}
                              </td>
                              <td class="px-3 py-4 whitespace-nowrap">
                                {{- order.fulfillment_status_label -}}
                              </td>
                              <td class="relative py-4 pl-3 pr-4 text-right whitespace-nowrap sm:pr-6 lg:pr-8">
                                {{- order.total_price | money_with_currency -}}
                              </td>
                            </tr>
                          {%- endfor -%}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {%- render 'pagination', paginate: paginate -%}
          {%- else -%}
            <p>{{ 'customer.orders.none' | t }}</p>
          {%- endif -%}

        {% endpaginate %}
      </div>
    </div>

    <aside class="xl:pl-8">
      <h2 class="mb-4">{{ 'customer.account.details' | t }}</h2>
      <div class="mb-2">{{ customer.default_address | format_address }}</div>
      <a class="underline" href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
    </aside>
  </div>


</section>

{% schema %}
{
  "name": "Account",
  "settings": [

  ]
}
{% endschema %}