<section class="my-16">
  <h1 class="flex justify-center mb-8">{{ 'customer.register.title' | t }}</h1>

  <div class="w-full max-w-xs mx-auto my-0">
    {%- form 'create_customer', class: 'flex flex-col items-center gap-y-4', novalidate: 'novalidate' -%}
      {% assign input_label = 'customer.register.first_name' | t %}
      <div class="w-full input-wrapper">
        <label
          for="RegisterForm-FirstName"
          class="input-label"
        >
          {{ input_label }}
        </label>
        <input
          type="text"
          name="customer[first_name]"
          id="RegisterForm-FirstName"
          class="input"
          value="{{ form.first_name }}"
          autocomplete="given-name"
        />
      </div>

      {% assign input_label = 'customer.register.last_name' | t %}
      <div class="w-full input-wrapper">
        <label
          for="RegisterForm-LastName"
          class="input-label"
        >
          {{ input_label }}
        </label>
        <input
          type="text"
          name="customer[last_name]"
          id="RegisterForm-LastName"
          class="input"
          value="{{ form.last_name }}"
          autocomplete="family-name"
        />
      </div>

      {% assign input_label = 'customer.register.email' | t %}
      <div class="w-full input-wrapper">
        <label
          for="RegisterForm-email"
          class="input-label"
        >
          {{ input_label }}
        </label>
        <input
          type="email"
          name="customer[email]"
          id="RegisterForm-email"
          class="input"
          value="{{ form.email }}"
          autocomplete="email"
          {% if form.errors contains "email" %}
            aria-invalid="true"
            aria-describedby="RegisterForm-email-error"
          {% endif %}
        />
      </div>

      {%- if form.errors contains 'email' -%}
        <span id="RegisterForm-email-error" class="mt-2">
          <span class="hidden">{{ 'accessibility.error' | t }} </span>
          <span class="inline-flex items-center mt-1 mr-2">
            {% render 'icon-error' %}
          </span>
          {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
        </span>
      {%- endif -%}

      {% assign input_label = 'customer.register.password' | t %}
      <div class="w-full input-wrapper">
        <label
          for="RegisterForm-password"
          class="input-label"
        >
          {{ input_label }}
        </label>
        <input
          type="password"
          name="customer[password]"
          id="RegisterForm-password"
          class="input"
          autocomplete="new-password"
          {% if form.errors contains "password" %}
            aria-invalid="true"
            aria-describedby="RegisterForm-password-error"
          {% endif %}
        />
      </div>

      {%- if form.errors contains 'password' -%}
        <span id="RegisterForm-password-error" class="mt-2">
          <span class="hidden">{{ 'accessibility.error' | t }} </span>
          <span class="inline-flex items-center mt-1 mr-2">
            {% render 'icon-error' %}
          </span>
          {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
        </span>
      {%- endif -%}

      <button class="w-full button button--primary">
        {{- 'customer.register.submit' | t -}}
      </button>

      <a class="block mx-auto w-fit" href="{{ routes.account_login_url }}">
        {{ 'customer.register.to_login' | t }}
      </a>
    {%- endform -%}
  </div>
</section>

{% schema %}
{
  "name": "Register",
  "settings": [

  ]
}
{% endschema %}