<section class="my-16">
  <div class="flex flex-col items-center mx-auto mb-8 gap-x-5 w-fit">
    <h1>{{ 'customer.reset_password.title' | t }}</h1>
    <p>{{ 'customer.reset_password.subtitle' | t: email: email }}</p>
  </div>

  <div class="w-full max-w-xs mx-auto my-0">
    {%- form 'reset_customer_password', class: 'flex flex-col justify-between gap-y-4' -%}
      {% assign input_label = 'customer.reset_password.password' | t %}
      <div class="w-full input-wrapper">
        <label
          for="password"
          class="input-label"
        >
          {{ input_label }}
        </label>
        <input
          type="password"
          name="customer[password]"
          id="password"
          class="input"
          autocomplete="new-password"
          {%- if form.errors contains "password" -%}
            aria-invalid="true"
            aria-describedby="password-error"
            autofocus
          {%- endif -%}
        />
      </div>
      {%- if form.errors contains 'password' -%}
        <small id="password-error" class="flex gap-x-1">
          <span class="hidden">{{ 'accessibility.error' | t }} </span>
          <span class="inline-flex items-center m-0">
            {% render 'icon-error' %}
          </span>
          <span>
            {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
          </span>
        </small>
      {%- endif -%}

      {% assign input_label = 'customer.reset_password.password_confirm' | t %}
      <div class="w-full input-wrapper">
        <label
          for="password_confirmation"
          class="input-label"
        >
          {{ input_label }}
        </label>
        <input
          type="password"
          name="customer[password_confirmation]"
          id="password_confirmation"
          class="input"
          autocomplete="new-password"
          {%- if form.errors contains "password_confirmation" -%}
            aria-invalid="true"
            aria-describedby="password_confirmation-error"
            autofocus
          {%- endif -%}
        />
      </div>
      {%- if form.errors contains 'password_confirmation' -%}
        <small id="password_confirmation-error" class="flex gap-x-1">
          <span class="hidden">{{ 'accessibility.error' | t }} </span>
          <span class="inline-flex items-center m-0">
            {% render 'icon-error' %}
          </span>
          <span>
            {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
          </span>
        </small>
      {%- endif -%}

      <button class="w-full button button--primary">
        {{- 'customer.reset_password.submit' | t -}}
      </button>
    {%- endform -%}
  </div>
</section>

{% schema %}
{
  "name": "Reset Password",
  "settings": [

  ]
}
{% endschema %}